<nav >
	<a [routerLink]  = "['']"> 
		Inicio 
	</a>
	<a [routerLink]  = "['videotutorial']"> 
		Videotutoriales 
	</a>
	<a [routerLink]  = "['tutorial']">  
		Tutoriales 
	</a>
	<a [routerLink]  = "['patrocinadores']"> 
		Patrocinadores 
	</a>
	<a [routerLink]  = "['zonavip']"> 
		Zona VIP 
	</a>
	<a [routerLink]  = "['amigospaco']"> 
		Amigos de Paco 
	</a>
	<a [routerLink]  = "['contacto']"> 
		Contacto 
	</a>
	<a [routerLink]  = "['configuracion']"> 
		Configuración 
	</a>
</nav>
<router-outlet></router-outlet>
<configcarrusel></configcarrusel>
<!--
<noticarrusel></noticarrusel>
<h2>Video Tutoriales</h2>
<h4>aquí encontraras nuestros videos más recientes</h4>
<videotutorial></videotutorial>
<h2>Tutoriales</h2>
<tutorial></tutorial>
<h2>Patrocinadores</h2>
<patrocinadores></patrocinadores>
<h2>Zona VIP</h2>
<<h1>Zona Vip</h1>
<h2>Amigos de Paco</h2>
<amigospaco></amigospaco>
<h2>Contactanos</h2>
<contacto></contacto>
-->